<div class="container">
    <br>
    <div class="card">
      <div class="card-body">
        <div class="alinharDireita">
          <button (click)="new()" class="btn btn-success btn-rounded" > 
            Adicionar  [ Modal ] 
            <i class="fa fa-plus fa-1x"></i>
          </button>
          <button [routerLink]="['/admin/editora/new']" class="btn btn-primary btn-rounded">
            Adicionar  [ Router ] 
            <i class="fa fa-plus fa-1x"></i>
          </button>
        </div>
        <br>
        <div class="centralizar"><h3>Lista de Editoras</h3></div>
        <br>
  
        <table class="table" border="1">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            @for (editora of lista; track $index) {
            <tr>
              <th scope="row">{{ editora.id }}</th>
              <td>{{ editora.nome }}</td>
              <td>
                <div class="alinharDireita">
  
                    <button (click)="edit(editora)" class="btn btn-success btn-rounded">
                      Salvar 
                      <i class="fa fa-pen fa-1x"></i>
                    </button>
  
                    <button [routerLink]="['/admin/editora/edit/'+editora.id]" class="btn btn-primary btn-rounded">
                      Editar 
                      <i class="fa fa-pen fa-1x"></i>
                    </button>
  
                    <button (click)="deleteById(editora)" class="btn btn-danger btn-rounded">
                      Deletar 
                      <i class="fa fa-trash-can fa-1x"></i>
                    </button>
  
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <ng-template #modalDetalhe>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Cadastro de Editora</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">
      <app-editoradetails [editora] = "editoraEdit" (retorno)="retornoDetalhe($event)"></app-editoradetails>
    </div>
  </ng-template>
